{% extends 'baseEmail.html.twig' %}

{% block title %}Demande d'inscription à l'espace Co-oZ{% endblock %}

{% block body %}
    <h1>Demande d'inscription à l'espace Co-oZ</h1>
    <p>Bonjour !</p>
    <p>{{ ecosystem.name }} souhaiterait s'inscrire à l'espace Co-oZ.</p>
    <p>Vous pouvez retrouver sa fiche dans votre espace administrateur.</p>
{% endblock %}
