{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <h1>IDEOZ</h1>
    <section class="testimony">
        <h2>Témoignage</h2>
    </section>
{% endblock %}
