<h1 style="text-align: center; color: #2b3a67; margin-bottom: 70px;">Bienvenue sur l'Espace Co-oZ !</h1>

<p>
    Veuillez confirmer votre inscription et votre email en cliquant sur ce lien : <br><br>
    <a href="{{ signedUrl|raw }}" style="text-decoration: none; color: #ff9900;">Confirmer mon adresse email</a>.
    Ce lien expirera dans {{ expiresAt|date('g') }} heure(s).
</p>

<p>
    Merci !
</p>
