{% extends 'layoutAdmin.html.twig' %}

{% block title %}Edit Company{% endblock %}

{% block body %}
    <h1 class="text-center">Edit Company</h1>

    <div class="container">
    {{ include('adminCompany/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_company_index') }}">back to list</a>
    </div>
{% endblock %}
