<footer class="footer font-small mb-5 mb-sm-0 pb-5 py-md-0 py-lg-2">
    <div class="row mx-0  ">
        <div class="col-md-4 col-lg-4 pt-4 mb-3 text-center">
            <a href="https://twitter.com/gryon" target="_blank" ><img src="{{ asset('build/images/twitter.png') }}"  width="40" height="40"   alt="twitter logo"></a>
            <a href="https://www.linkedin.com/in/simon-abraham-03b74216/?originalSubdomain=fr" target="_blank"><img class=" ml-3" src="{{ asset('build/images/linkedin.png') }}" width="40" height="40" alt="linkedin logo"></a>
        </div>
        <div class="col-md-4 col-lg-4 pt-3 order-last text-center text-white">
            <a class="text-white" href="#">Mentions Légales</a>
            <p>Fait avec ❤ par les <a  class="text-white" href="https://www.wildcodeschool.com/fr-FR/campus/orleans" target="_blank"><strong>Wilders</strong></a></p>
        </div>
        <div class="col-md-4 col-lg-4 text-center order-md-last order-lg-last text-white ">
            {{ render(controller('App\\Controller\\HomeController::footerContact')) }}
        </div>
    </div>
</footer>
