{% block banner %}
    <div class="alert alert-primary bg-primary border-primary d-block d-sm-none text-center w-100 mb-0" role="alert" >
        <img src="{{ asset('build/images/logo.png') }}" alt="logo">
    </div>
{% endblock %}