@import 'app.scss';

.back {
    background-color: $secondary;
    box-shadow: 0 2px 0.5rem lighten($dark, 5%);

    &:hover {
        background-color: lighten($secondary, 3%);
        box-shadow: 0 0 1rem lighten($primary, 10%);
    }
}

.save {
    background-color: $primary;
    box-shadow: 0 2px 0.5rem lighten($dark, 5%);

    &:hover {
        background-color: lighten($primary, 10%);
        box-shadow: 0 0 1rem lighten($light-primary, 10%);
    }
}

h1, h2 {
    text-align: center;
}

h1, h2, h3, h4, h5 {
    color: $primary;
}

h1 {
    margin-bottom: $spacing-4;
}

h2 {
    margin-bottom: $spacing-3;
}

form {
    label {
        font-weight: bold;
    }
}