@import 'app.scss';

.last-members {
    .card {
        width: 160px;
    }

    .more {
        background-color: $secondary;
        box-shadow: 0 1px 0.25rem lighten($dark, 5%);

        &:hover {
            background-color: lighten($secondary, 3%);
            box-shadow: 0 0 0.5rem lighten($primary, 10%);
        }
    }
}