@import 'app.scss';

.logo {
    height: $max-height-img-ecosystem;
}

.button-list {
    a, form {
        margin: $spacing-2;
    }
}

.back {
    background-color: $secondary;
    box-shadow: 0 2px 0.5rem lighten($dark, 5%);

    &:hover {
        background-color: lighten($secondary, 3%);
        box-shadow: 0 0 1rem lighten($primary, 10%);
    }
}

.save {
    background-color: $primary;
    box-shadow: 0 2px 0.5rem lighten($dark, 5%);

    &:hover {
        background-color: lighten($primary, 10%);
        box-shadow: 0 0 1rem lighten($light-primary, 10%);
    }
}

#ecosystem_status, #ecosystem_isValidated {
    display: flex;
    flex-wrap: wrap;

    .form-check {
        margin: $spacing;
    }
}

.status-choice div {
    padding-bottom: $spacing / 2;
    display: flex;
    flex-wrap: wrap;

    .form-check {
        margin: $spacing;
    }
}

.filter-status {
    form {
        display:flex;

        .col-form-label {
            font-size: $h4-font-size;
        }
    }
}

.filter-button {
    border: solid 1px $primary;
}

form {
    label, legend {
        font-weight: bold;
    }
}