@import 'variables.scss';
@import "~bootstrap/scss/bootstrap";
@import "footer";

body {
    font-family: $font-text;
    font-size: $text-font-size;
    color: $dark;
    margin-top: $navbarHeight;
}

@media screen and (max-width: $mobile-breakpoint){
    body {
        margin-top: 0;
    }
}

h1, h2, h3 {
    font-family: $font-title;
    font-weight: 700;
    color: $primary;
}

h4, h5, h6 {
    font-family: $font-title;
    color: $primary;
}

p {
    line-height: 2rem;
}

.button-yellow {
    font-family: $font-title;
    font-weight: 700;
    color: $light;
    background-color: $secondary;
    box-shadow: 0 1px 0.25rem lighten($dark, 50%);

    &:hover {
        color: $light;
        background-color: lighten($secondary, 3%);
        box-shadow: 0 0 0.5rem lighten($primary, 10%);
    }
}

nav {
    min-height: $navbarHeight;

    svg {
        color: $light;
    }
}

.navbar-toggler {
    margin-top:12px;
}

.navbar-toggler-icon {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHMAAABkCAMAAACCTv/3AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF////5ubmueBsSwAAAAJ0Uk5T/wDltzBKAAAAPklEQVR42uzYQQ0AAAgDseHfNC4IyVoD912WAACUm3uampqampqamq+aAAD+IVtTU1NTU1NT0z8EAFBsBRgAX+kR+Qam138AAAAASUVORK5CYII=');
}

.navbar {
    font-size: $h4-font-size;
    opacity: 0.9;

    .nav-item, a{
        font-family: $font-title;
    }
}

.dropdown {
    .dropdown-menu {
        border: none;

        .dropdown-item {
            color: $light;

            &:hover {
                color: $primary;
            }
       }
    }
}

.btn .dropdown-toggle {
    border: none;
}

.icon-connexion {
    position: fixed;
    top: 12px;
    right: 20px;
}

.navbar-mobile-logo {
    position: fixed;
    top: 13px;
    right: 41vw;
}

.navbar-brand img {
    width: $navImageWidth;
    height: $navImageHeight;
}

.btn-group a {
    border: none;
}

.mobile {
    display: flex;
    flex-basis: 100%;

    svg {
        color: $light;
    }

    .items {
        width: 12%;
        padding-top: $spacing;
    }

    .menu {
        width: 25%;
    }
}


.alert img {
    width: $navImageWidth;
    height: $navImageHeight;
}

h1 {
    font-size: $h1-font-size;
    padding-top: $spacing-4;
    margin-bottom: $spacing-3;
}

h2 {
    font-size: $h2-font-size;
    margin-bottom: $spacing-4;
}

h3 {
    font-size: $h3-font-size;
}

section {
    padding: $spacing-4 0;
}
