@import 'variables.scss';
@import "~bootstrap/scss/bootstrap";

body {
    font-family: $font-text;
    color: $dark;
    margin-top: $navbarHeight;
}

@media screen and (max-width: $mobile-breakpoint) {
    body {
        margin-top: 0;
    }
}

h1, h2, h3 {
    font-family: $font-title;
    font-weight: 700;
    color: $primary;
}

h4, h5, h6 {
    font-family: $font-title;
    color: $primary;
}

nav {
    background-color: $dark-second-color;
    min-height: $navbarHeight;
}

.navbar-toggler {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 28 28' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.dropdown .btn:hover {
    color: $light;

    :focus, .btn.focus {
        outline: none;
        box-shadow: none;
  }
}

.dropdown-toggle, .nav-item, a {
    color: $light;
    font-family: $font-title;
}

.dropdown-menu, .dropdown-item {
    background-color: $dark-second-color;
    color: $light;
}

.btn .dropdown-toggle {
    border: none;
}

.navbar-brand img {
    width: 120px;
    height: 50px;
}

.btn-group a, .btn {
    background-color: $dark-second-color;
    color: $light;
    border: none;
}

.mobile {
    width: 100%;
}

.items {
    width: 20%;
    padding-top: $spacing + 4px;
    padding-right: 0;
    padding-left: 0;
}

.menu button{
    width: 25%;
}

.service {
    padding: 0;
    width: 20%;
}

.alert {
    background-color: $dark-second-color;
}

.alert img {
    width: 120px;
    height: 50px;
}
