@import 'app.scss';

.companies {

    .header {
        height: $height-header;
        background-image: url("../images/moutains2.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .more {
        font-family: $font-text;
        font-weight: bolder;
        svg {
            padding-bottom: $spacing / 2;
        }

    }
}