@import 'variables.scss';

.companies {

    .header {
        height: $height-header;
        background-image: url("../images/moutains2.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    @media screen and (max-width: $mobile-breakpoint) {
        .header {
            height: calc(100vh - (79px + 76px));
            background-attachment: initial;
        }
    }

    .row-companies {
        row-gap: $spacing-4;
        column-gap: $spacing-4;

        .logo {
            max-height: 250px;
        }

        .card {
            color: $dark;
            width: 24rem;
            border-radius: 0 6px 6px 0;
        }
    }

    .more {
        font-family: $font-text;
        font-weight: bolder;

        svg {
            padding-bottom: $spacing / 2;
        }
    }

    .competence {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (max-width: 450px){
        .competence {
            display: grid;
            grid-gap: 10px;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .page-item{
        margin-left: 10px;
    }
}