@import 'variables.scss';
@import "~bootstrap/scss/bootstrap";

.service {
    background-color: $third-color;

    .row {
        row-gap: $spacing-4;
        column-gap: $spacing-4;

        a:hover {
            text-decoration: none;
            color: $dark;
        }

        .card {
            color: $dark;
            border: none;
            border-radius: 0 6px 6px 0;
            box-shadow: 2px 2px 4px 0 darken($third-color, 70%);
            transition: all 0.5s ease-out;

            &:hover {
                transform: scale(1.1);
            }

            &:nth-child(1n) {
                border-left: 12px solid $secondary;

                h3, svg {
                    color: $secondary;
                }
            }

            &:nth-child(2n) {
                border-left: 12px solid $light-primary;

                h3, svg {
                    color: $light-primary;
                }
            }

            &:nth-child(3n) {
                border-left: 12px solid $light-secondary;

                h3, svg {
                    color: $light-secondary;
                }
            }
        }
    }
}