@import 'app.scss';

.header {
    background-image: url('../images/profile.jpg');
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: $height-header;
}

.button-yellow {
    outline: none;
    border: none;
}

@media screen and (max-width: 575px) {
    .header {
        height: calc(100vh - (79px + 76px));
    }
}