@import "variables.scss";

.projects {

    .header {
        height: $height-header;
        background-image: url("../images/climb-2.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .row {
        row-gap: $spacing-4;
        column-gap: $spacing-4;

        .card {
            border: none;
            border-radius: 0 6px 6px 0;
            border-left: $spacing double $primary;
            box-shadow: 2px 2px 4px 0 darken($third-color, 70%);
            transition: all 0.4s ease-out;
            background-color: $third-color;
            width: 24rem;

            p {
                font-weight: bolder;
            }

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    .more {
        font-family: $font-text;
        font-weight: bolder;

        svg {
            padding-bottom: $spacing / 2;
        }
    }

    @media screen and (max-width: $mobile-breakpoint) {
        .header {
            height: calc(100vh - (79px + 76px));
            background-attachment: initial;
        }
    }
}

.project {
    .header {
        height: $height-header;
        background-image: url("../images/header_project.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
    }

    span {
        font-size: $h4-font-size;
    }

    @media screen and (max-width: $mobile-breakpoint) {
        .header {
            height: calc(100vh - (79px + 76px));
            background-attachment: initial;
        }
    }
}