@import "app.scss";

.projects {

    .header {
        height: $height-header;
        background-image: url("../images/climb-2.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .jumbotron {
        background: linear-gradient($light, $light-primary);

        p {
            font-family: $font-text;
            font-weight: bolder;
        }

        li {
            list-style-type: none;
        }

        img {
            width: 150px;
            height: auto;
        }
    }

    .more {
        font-family: $font-text;
        font-weight: bolder;

        svg {
            padding-bottom: $spacing / 2;
        }
    }
}