@import 'app.scss';

.testimonies {
    h1 {
        margin: 0;
        padding: 0;
    }

    h2 {
        margin-top: $spacing-4;
        padding-top: $spacing-3;
    }

    .header {
        background-image: url('../images/shakinghands.jpg');
        background-attachment: fixed;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        height: $height-header;
    }

    .testimonies-container {
        .card {
            margin: $spacing-4 0;

            .logo {
                max-width: $max-width-figure-home;
            }

        }
    }

    .separate {
        img {
            margin-left: $spacing;
            margin-bottom: $spacing-4;
        }

        .quotes {
            margin-right: $spacing;
            margin-top: $spacing-4;
        }
    }

    .contact {
        margin-top: $spacing-4;
        padding-top: $spacing-3;
    }
}