@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Raleway:wght@400;700&display=swap');

$secondary: #ff9900;
$light-primary: #6fa8dc;
$light-secondary: #f9cb9c;
$primary: #2b3a67;
$dark: #01010a;
$light: #fefeff;
$background-color: #f9f9fd;
$font-title: 'Raleway', sans-serif;
$font-text: 'Lato', sans-serif;
$spacing: 8px;
$spacing-2: $spacing * 2;
$spacing-3: $spacing * 4;
$spacing-4: $spacing * 8;

$max-width-figure-home: 190px;
