$main-color: #ff9900;
$second-color: #6fa8dc;
$light-main-color: #f9cb9c;
$dark-second-color: #2b3a67;
$dark: #111111;
$light: #e8e5e5;
$background-color: #d9d9d9;
$font-title: 'Raleway Black', sans-serif;
$font-light-title: 'Raleway', sans-serif;
$font-text: 'Lato', sans-serif;
$spacing: 8px;
$spacing-2: $spacing * 2;
$spacing-3: $spacing * 4;
$spacing-4: $spacing * 8;
