<footer class="footer font-small mt-5 d-flex justify-content-between">
    <div class="d-flex align-items-center ml-3">
        <a href="https://twitter.com/gryon" ><img  class="bg-white rounded" src="{{ asset('build/images/twitter.png') }}"  width="40" height="40"   alt="twitter logo"></a>
        <a href="https://www.linkedin.com/in/simon-abraham-03b74216/?originalSubdomain=fr"><img class="bg-white rounded ml-3" src="{{ asset('build/images/linkedin.png') }}" width="40" height="40" alt="linkedin logo"></a>
    </div>
    <div class="text-center text-white py-3">
        <a class="text-white" href="#">Mentions Légales</a>
        <p>Faits avec amours par les éléves de la Wild Code School</p>
    </div>
    <div class="text-white mr-3">
        <p class="my-1">Simon Abraham</p>
        <p class="mb-1">0661992159</p>
        <p class="mb-1">ideoz@gmail.com</p>
    </div>
</footer>
