{% extends 'layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('adminLegalNotice') }}
{% endblock %}

{% block title %}{{ parent() }} | Mentions légales{% endblock %}

{% block body %}
    <main>
        <h1 class="text-center">Mentions légales</h1>
        <div class="container pb-5">
            <p>{{ legal_notice.content | raw }}</p>
        </div>
    </main>
{% endblock %}
