{% extends 'layout.html.twig' %}
{% block title %}{{ parent() }} | Une erreur est survenue{% endblock %}
{% block stylesheet %}
    {{ parent() }}
    {{ encore_entry_link_tags('error404') }}
{% endblock %}
{% block body %}
    <h1 class="text-center">Une erreur est survenue</h1>
    <h2 class="text-center">Un problème technique est survenu.</h2>
{% endblock %}
